table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #ADD8E6;
}

thead th:nth-child(1) {
    width: 50%;
}

thead th:nth-child(2) {
    width: 50%;
}

th, td {
    padding: 20px;
}

html {
    font-family: verdana, arial, sans-serif;
}

thead th, tfoot th {
    font-family: sans-serif, cursive;
    font-size: larger;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

thead, tfoot {
    background-color: white;
    text-shadow: 1px 1px 1px gray;
}

thead th, tfoot th, tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    /*border: 3px solid #ADD8E6;*/
}

tbody tr:nth-child(odd) {
    background-color: #ADD8E6;
}

tbody tr:nth-child(even) {
    background-color: white;
}
