body{
    margin: 0;
    text-align: center;
}
#nav{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    max-width: 600px;
    border-bottom: 1px #dadada solid;
    margin: 0 auto;
    padding: 5px 0;
}
#nav a{
    color: #0087cf;
    text-decoration: none;
    margin-right: 5%;
}
#nav a:hover{
    color: red;
}
#logo{
    background-color: white;
}

#content{
    max-width: 600px;
    margin: 0 auto;
}
#converter{
    width: 93%;
    height: 90px;
    background-color: #f4f4f4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 3.3% 20px 3.3%;
}
#downloadContent{
	display: none;
	width: 93%;
    height: 90px;
    background-color: #f4f4f4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 3.3% 20px 3.3%;
}
#downloadTitle{
    color: #0087cf;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    line-height: 44px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 44px;
    overflow: hidden;
}
#progressContent{
    display: none;
    width: 93%;
    height: 90px;
    background-color: #f4f4f4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 3.3% 20px 3.3%;
}
#progressTitle{
    color: #0087cf;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    line-height: 44px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 44px;
    overflow: hidden;
}

#errorContent{
    display: none;
    width: 93%;
    height: 90px;
    background-color: #f4f4f4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 3.3% 20px 3.3%;
}
#errorTitle{
    color: #0087cf;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    line-height: 44px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 44px;
    overflow: hidden;
}
#loading{
    display: none;
    width: 93%;
    height: 90px;
    background-color: #f4f4f4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 3.3% 20px 3.3%;
}
#progressTitle{
    color: #0087cf;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    line-height: 44px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 44px;
    overflow: hidden;
}
/*图片加载中div图层，用于遮挡页面*/
.loadingDiv
{
    position:absolute;
    text-align:center;
    display:none;
    background: url("/images/ajax-bar-loader-2.gif") repeat center center;
}
/*加载中图片*/
.loadingDiv img
{
    position:absolute;
    width: 256px;
    height: 38px;
    border-style: solid;
    border-color: #0087cf;
    border-width: thin;
    border-radius: 3px;
}

#downloadLink{
    background-color: #fefefe;
    height: 42px;
    width: 99%;
    border: 1px #0087cf solid;
    border-radius: 3px;
    padding-top: 15px;
}

#title{
    color: #0087cf;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    line-height: 44px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 44px;
    overflow: hidden;
}
#converter form{
    background-color: #fefefe;
    height: 42px;
    width: 99%;
    border: 1px #0087cf solid;
    border-radius: 3px;
}
#converter form #input{
    color: #0087cf;
    background-color: transparent;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 42px;
    float: left;
    width: 80%;
    height: 42px;
    border: none;
    margin: 0 1% 0 0;
    padding: 0;
}
#converter form #submit{
    color: #ffffff;
    background-color: #0087cf;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    float: left;
    width: 18%;
    height: 36px;
    border: none;
    border-radius: 3px;
    margin: 3px 0 3px 0;
    cursor: pointer;
}
#checkbox{
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: #0087cf;
    height: 42px;
}

#separator{
    background-color: #dadada;
    width: 6.7%;
    height: 5px;
    margin: 40px auto;
}
#text {
    color: #222121;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    text-align: justify;
    padding: 0 3.3%;
}
#text h1{
    color: #222121;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0 0 20px 0;
}
#text p:first-of-type{
    margin-top: 0;
}
#text p{
    line-height: 25px;
}
#text p:last-of-type{
    margin-bottom: 0;
}
#footer{
    color: #7b7c7b;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 400;
    max-width: 600px;
    border-top: 1px #dadada solid;
    margin: 40px auto;
    padding: 5px 0;
}
#footer a:visited,#footer a:link{
    color: #7b7c7b;
    text-decoration: none;
    margin-right: 5%;
}
